<div id="app">
  <template>
    <div>
      <h1>Cadastro de animais</h1>
      <input v-model="text" placeholder="nome do animal?" @keyup.enter="onAdd" @keyup.esc="onClear">
      <button :disabled="!text" @click="onAdd">Adicionar</button>
    </div>
<select v-model="selected" placeholder="nome do animal?">
  <option disabled value="">escolha a raça do animal</option>
  <option>lulu da pomerania</option>
  <option>Beagle</option>
  <option>Basset houng</option>
</select>
<br>

    <ul>
      <li v-for="task of tasks">{{ task }}</li>
    </ul>
  </template>
</div>
